/* font-family added */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style start here */

.text-color{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight:400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 12px;
}

.items{
    color:rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
    margin: 12px 0;
}
.items-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}
.common-btn{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    padding: 10px 18px;
    margin-top: 20px;
    font-family: Azeret Mono;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.8s;

}
.common-btn:hover{
    background-color: rgb(255, 0, 0);
    color:white;
}

.high-text{
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 22px;
}

.title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 10px;
}



/* shared style end here */

/* header area style start here */
#header-content{
    max-width: 1280px;
    height: 623px ;
    margin: 0 auto;


}

/* nav area style */

.nav-logo{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo > h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 700;
}


/* nav logo button style */
.btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 600;
    width: 167px;
    height: 46px;
}
/* header logo button close */



/* nav area style close here */


/* banner header area style start here */

.banner-header{
    height:80%;
    width: 100%;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-header-content{
    width: 998px;
    height: 582px;  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-header-content > img{
    margin: 12px;
}


.banner-header-content > P{
    margin: 24px auto;
    width: 880px;
    text-align: center;
}

.banner-header-content > a {
    color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 153px;
    height: 48px;
    background: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
    transition: 0.7s;
}
.banner-header-content > a:hover{
    background-color: blueviolet;
}

/* banner header area style start here */


/* header area style end here */




/* main area style start here */

.main-area{
    width: 1100px;
    margin: 0 auto;
    height: 1560px ;
   
 
}

/* reason of web area style start here */
.reason-of-web{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    height: 1400px;
}

/* reason of web text area style start here */
.reason-of-web-text{
    width: 852px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto ;
    text-align: center;
    
}
.reason-of-web-text h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 20px;
}
/* reason of web text area style end here */

/* web reason of i will do style start here and   this is a common section style  */
.web-reason-of-i-will-do{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);}

.i-will-do-text {
    padding: 30px 40px;
    width: 600px;
    
}

.i-will-do-text > p{
    margin-top: 20px;
    margin-bottom: 50px;
}
.img{
    width: 420;
    height: 150px;
}
.img > img{
    width: 100%;
}

.change{
    margin-top: 40px;
}


/* web reason of i will do style end here  and this is a common section*/


/*  creating mordern web area style start here */
.creating-mordern-web{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    gap: 50px;
}

.mordern-text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
}

.mordern-text-area > p{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* reason of web area style end here */




/* insparation section area start here  */
.my-inspiration{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 730px;
   
}


.iframe-video{
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 16px 18px;
    border-radius: 16px;
}

.iframe-video iframe{
   
    border-radius: 16px;
}


.inspiration-text{
    width: 900px;
    margin: 0 auto;

}



/* insparation section area end here  */

/* my current target section style start here */
.my-current-target{
    width: 1050px;
    height: 600px;
}   

.target-text{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.targets-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.current-item{
    width: 32%;
    padding: 30px;
    border-radius: 16px;
}



.current-item > p{
    margin-bottom: 12px;
}

.item-color-1{
    background-color: rgba(255, 76, 30, 0.05);

}
.item-color-2{
    background-color:rgba(0, 76, 232, 0.05) ;
}
.item-color-3{
    background-color: rgba(255, 223, 0, 0.05)  ;
}

/* my current target section style end here */


/* next target item section start here */
.my-next-target{
    height: 800px;
}
.next-target-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 12px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
}
.next-target-container img{
  width: 110px;
  padding: 10px;
}


.next-target-content{
    width: 941.22px;
    height: 110px;
   
}

/* next target item section end here */



/* support section start here */

.support{
    width: 1040px;
    height: 314px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 64px 48px 64px 48px;
}
.support-content{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    
 }

 .support-content h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
 }

 .support-content p{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 22px 0;
 }
.support-content input{
    color: rgb(0, 0, 0);
    font-size:18px;
    width: 500px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    border-radius: 16px;
    border: none;
    margin-top: 16px;


 }
.support-content button{
    width: 120px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border-radius: 14px;
    margin-left: 13px;
    border: none;
    cursor: pointer;
    transition: 0.7s;
}
.support-content button:hover{
    background-color: rgba(69, 192, 44, 0.685);
    color: aliceblue;
}


/* support section end here */



/* main area style end here */  